scratch/perfect_sofia_workflow.json
{
  "name": "Sofia - Gestora de CRM Automática v2 (CORRIGIDA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-manager-agent-v1",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "CRM Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é a SOFIA, a Gestora Inteligente da Clínica MASTER. Sua missão é gerenciar o atendimento, agendamentos e informações via WhatsApp.\n\nIDENTIDADE:\n- Use tools para consultar dados reais (médicos, horários, histórico).\n- Tom de voz: Humano e acolhedor.\n- Nunca invente informações.\n\nFLUXO:\n1. Use 'obter_dados_clinicos' para saber o que a clínica oferece.\n2. Use 'get_patient_history' para reconhecer o cliente.\n3. Proponha agendamentos usando 'check_availability' e 'schedule_appointment'."
        }
      },
      "id": "agent-sofia",
      "name": "Agente Gerente Sofia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "modelName": "gpt-4o",
        "options": {
          "temperature": 0
        }
      },
      "id": "openai-model",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        600,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "FIXME_USER_KEY",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.patientPhone }}",
        "contextWindowLength": 5
      },
      "id": "memory-node",
      "name": "Memória simples",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://clini-smart.vercel.app/api/whatsapp/tools/get-clinic-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "clinicId",
              "value": "={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"
            }
          ]
        },
        "description": "Obtém médicos, serviços e preços da clínica."
      },
      "id": "tool-clinic-data",
      "name": "obter_dados_clínicos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        950,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIXME_AUTH_KEY",
          "name": "CRM Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://clini-smart.vercel.app/api/whatsapp/tools/get-patient-history",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "clinicId",
              "value": "={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"
            },
            {
              "name": "patientPhone",
              "value": "={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"
            }
          ]
        },
        "description": "Consulta o histórico de consultas do paciente."
      },
      "id": "tool-history",
      "name": "get_patient_history",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        950,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIXME_AUTH_KEY",
          "name": "CRM Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://clini-smart.vercel.app/api/whatsapp/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "send-reply",
      "name": "Enviar resposta ao CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1150,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIXME_AUTH_KEY",
          "name": "CRM Auth"
        }
      }
    }
  ],
  "connections": {
    "CRM Webhook Trigger": {
      "main": [
        [
          {
            "node": "Agente Gerente Sofia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Gerente Sofia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória simples": {
      "ai_memory": [
        [
          {
            "node": "Agente Gerente Sofia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "obter_dados_clínicos": {
      "ai_tool": [
        [
          {
            "node": "Agente Gerente Sofia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_patient_history": {
      "ai_tool": [
        [
          {
            "node": "Agente Gerente Sofia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Gerente Sofia": {
      "main": [
        [
          {
            "node": "Enviar resposta ao CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
