scratch/sofia_workflow.json
{"updatedAt":"2026-04-14T15:17:13.416Z","createdAt":"2026-04-10T14:02:15.152Z","id":"bRQoyjQbfwsE9yRZ","name":"Sofia - Gestora de CRM v3 (PRODUÇÃO)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"crm-manager-agent-v1","options":{}},"id":"webhook-trigger","name":"CRM Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-336,-112],"webhookId":"3744b896-326d-440b-a786-5f8d2c935448"},{"parameters":{"options":{"temperature":0.3}},"id":"openai-model","name":"Modelo OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-128,256],"credentials":{"openAiApi":{"id":"VXfPUQYU0OWKOwSR","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":20},"id":"memory-node","name":"Memória simples","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[16,208]},{"parameters":{"name":"get_clinic_data","description":"Busca informações da clínica: médicos disponíveis hoje, especialidades, serviços e preços. Use SEMPRE antes de responder sobre médicos, horários ou valores.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/get-clinic-data\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}"},"id":"tool-data","name":"get_clinic_data","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[816,176]},{"parameters":{"name":"get_patient_history","description":"Busca o histórico do paciente: consultas anteriores, nome e dados cadastrais. Use no início de CADA atendimento para identificar se é paciente recorrente.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/get-patient-history\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}"},"id":"tool-hist","name":"get_patient_history","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[704,288]},{"parameters":{"name":"check_availability","description":"Verifica horários disponíveis para agendamento. Forneça a especialidade ou nome do médico e a data preferida pelo paciente.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/check-availability\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}"},"id":"tool-avail","name":"check_availability","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[560,336]},{"parameters":{"name":"schedule_appointment","description":"Confirma e registra o agendamento. Use APENAS após o paciente confirmar o horário escolhido. Obtenha o doctorId com check_availability.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/schedule\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}"},"id":"tool-sched","name":"schedule_appointment","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[400,400]},{"parameters":{"name":"cancel_appointment","description":"Cancela uma consulta existente. Obtenha o appointmentId no histórico do paciente (get_patient_history) antes de usar esta ferramenta.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/cancel-appointment\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}"},"id":"tool-cancel","name":"cancel_appointment","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[256,480]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"patientId\":\"={{ $node[\\\"CRM Webhook Trigger\\\"].json.patientId || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.patientId || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.patientId }}\",\"patientPhone\":\"={{ $node[\\\"CRM Webhook Trigger\\\"].json.patientPhone || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.patientPhone || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.patientPhone || ($node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.chave?.remoteJid || '').split('@')[0] }}\",\"textMessage\":\"={{ $json.output }}\",\"sentBy\":\"ia\"}","options":{}},"id":"send-node","name":"Enviar resposta ao CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[368,-144]},{"parameters":{"promptType":"define","text":"Você é a SOFIA, a Gestora de Inteligência Artificial da clínica ={{ $node[\"CRM Webhook Trigger\"].json.corpo.clinicName || $node[\"CRM Webhook Trigger\"].json.corpo.dados?.clinicName || \"CliniSmart\" }}. Sua missão é realizar um atendimento humanizado, eficiente e focado em converter conversas em agendamentos no CliniSmart CRM.\n\n### PERFIL E IDENTIDADE:\n- **Nome:** Sofia.\n- **Personalidade:** Profissional, acolhedora, empática e extremamente organizada.\n- **Tom de Voz:** Humano e gentil. Use emojis de forma moderada para manter o tom amigável, mas preserve a autoridade médica da clínica.\n- **Limitações:** Nunca invente horários, preços ou nomes de médicos. Sempre consulte as ferramentas antes de responder.\n\n### DIRETRIZES DE OPERAÇÃO CRM:\n\n1. **RECONHECIMENTO DO PACIENTE:**\n   - Sempre comece consultando o histórico através da ferramenta 'get_patient_history'. \n   - Se o paciente for recorrente, dê as boas-vindas chamando-o pelo nome.\n\n2. **INFORMAÇÕES DA CLÍNICA:**\n   - Use 'get_clinic_data' para saber quais médicos atendem hoje, quais serviços estão disponíveis e os valores.\n   - Siga rigorosamente os dados retornados por esta ferramenta.\n\n3. **AGENDAMENTO E DISPONIBILIDADE:**\n   - Se o paciente quiser marcar, pergunte a especialidade ou médico e a data preferida.\n   - Use 'check_availability' para ver os horários livres.\n   - Proponha 2 ou 3 opções de horários ao paciente.\n   - Assim que ele escolher, use 'schedule_appointment' para confirmar a vaga no CRM.\n\n4. **CANCELAMENTOS E REAGENDAMENTOS:**\n   - Se o paciente solicitar, use 'cancel_appointment'. Lembre-se de ser compreensivo e sempre tentar oferecer um novo horário (reagendamento) antes de encerrar.\n\n### REGRAS CRÍTICAS:\n- Se houver uma dúvida clínica complexa (ex: \"posso tomar tal remédio?\"), informe que você é uma gestora administrativa e que encaminhará a dúvida para a equipe médica.\n- Seja concisa. No WhatsApp, as pessoas preferem mensagens curtas e diretas ao ponto.\n- Nunca encerre uma conversa sem perguntar se há algo mais em que possa ajudar.\n\n### FLUXO PADRÃO SUGERIDO:\n1. Saudação + Consulta de Histórico.\n2. Identificação da necessidade (Informação, Agendamento ou Suporte).\n3. Uso da Ferramenta correspondente.\n4. Confirmação do dado com o paciente.\n5. Fechamento e Registro no CRM.\n\n\n---\n### MENSAGEM ATUAL DO PACIENTE:\n={{ $node[\"CRM Webhook Trigger\"].json.message || $node[\"CRM Webhook Trigger\"].json.corpo?.message || $node[\"CRM Webhook Trigger\"].json.corpo?.dados?.mensagem?.conversa || $node[\"CRM Webhook Trigger\"].json.corpo?.dados?.message?.conversation }}","hasOutputParser":true,"needsFallback":true,"options":{"maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-64,-112],"id":"0199ebcf-c72f-4c8d-86b4-789c1bd44972","name":"AI Agent"}],"connections":{"CRM Webhook Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memória simples":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"get_clinic_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_patient_history":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"check_availability":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"schedule_appointment":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancel_appointment":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar resposta ao CRM","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1af78694-7cce-4524-ae4b-f170758009e0","activeVersionId":"d2320a39-c073-4f15-9b0d-a5a503cd1cda","versionCounter":104,"triggerCount":1,"shared":[{"updatedAt":"2026-04-10T14:02:15.152Z","createdAt":"2026-04-10T14:02:15.152Z","role":"workflow:owner","workflowId":"bRQoyjQbfwsE9yRZ","projectId":"FeneupEm9GWoJOsO","project":{"updatedAt":"2026-01-13T15:06:05.729Z","createdAt":"2026-01-13T15:04:20.213Z","id":"FeneupEm9GWoJOsO","name":"RAFAEL NASCIMENTO <r4fael1988@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","projectRelations":[{"updatedAt":"2026-01-13T15:04:20.213Z","createdAt":"2026-01-13T15:04:20.213Z","userId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","projectId":"FeneupEm9GWoJOsO","user":{"updatedAt":"2026-04-14T11:31:21.929Z","createdAt":"2026-01-13T15:04:19.489Z","id":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","email":"r4fael1988@gmail.com","firstName":"RAFAEL","lastName":"NASCIMENTO","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-13T15:04:37.889Z","personalization_survey_n8n_version":"1.113.3","companyType":"saas"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"w3VX5_95WJP_xc3_JUK64","userActivatedAt":1768405688819,"npsSurvey":{"responded":true,"lastShownAt":1770220250292},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-14","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-14T12:48:58.673Z","createdAt":"2026-04-14T12:48:58.673Z","versionId":"d2320a39-c073-4f15-9b0d-a5a503cd1cda","workflowId":"bRQoyjQbfwsE9yRZ","nodes":[{"parameters":{"httpMethod":"POST","path":"crm-manager-agent-v1","options":{}},"id":"webhook-trigger","name":"CRM Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-288,-112],"webhookId":"3744b896-326d-440b-a786-5f8d2c935448"},{"parameters":{"options":{"temperature":0.3}},"id":"openai-model","name":"Modelo OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-128,256],"credentials":{"openAiApi":{"id":"VXfPUQYU0OWKOwSR","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":20},"id":"memory-node","name":"Memória simples","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[16,208]},{"id":"tool-data","name":"get_clinic_data","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[816,176],"parameters":{"description":"Busca informações da clínica: médicos disponíveis hoje, especialidades, serviços e preços. Use SEMPRE antes de responder sobre médicos, horários ou valores.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/get-clinic-data\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}","name":"get_clinic_data"}},{"id":"tool-hist","name":"get_patient_history","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[704,288],"parameters":{"description":"Busca o histórico do paciente: consultas anteriores, nome e dados cadastrais. Use no início de CADA atendimento para identificar se é paciente recorrente.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/get-patient-history\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}","name":"get_patient_history"}},{"id":"tool-avail","name":"check_availability","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[560,336],"parameters":{"description":"Verifica horários disponíveis para agendamento. Forneça a especialidade ou nome do médico e a data preferida pelo paciente.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/check-availability\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}","name":"check_availability"}},{"id":"tool-sched","name":"schedule_appointment","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[400,400],"parameters":{"description":"Confirma e registra o agendamento. Use APENAS após o paciente confirmar o horário escolhido. Obtenha o doctorId com check_availability.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/schedule\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}","name":"schedule_appointment"}},{"id":"tool-cancel","name":"cancel_appointment","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[256,480],"parameters":{"description":"Cancela uma consulta existente. Obtenha o appointmentId no histórico do paciente (get_patient_history) antes de usar esta ferramenta.","jsCode":"// Sofia Code Tool - Conexão Direta CRM\nconst url = \"https://clini-smart.vercel.app/api/whatsapp/tools/cancel-appointment\";\nconst triggerNode = $(\"CRM Webhook Trigger\").item.json;\n\n// Mapeamento robusto de entrada\nconst body = {\n  clinicId: triggerNode.clinicId || triggerNode.corpo?.clinicId || triggerNode.corpo?.dados?.clinicId,\n  patientPhone: triggerNode.patientPhone || triggerNode.corpo?.patientPhone || triggerNode.corpo?.dados?.patientPhone || (triggerNode.corpo?.dados?.chave?.remoteJid || '').replace('@s.whatsapp.net', '')\n};\n\n// Adicionar parâmetros específicos da ferramenta (se existirem)\n// Nota: O LangChain passa os parâmetros como variáveis globais no ToolCode\nif (typeof specialty !== 'undefined') body.specialty = specialty;\nif (typeof date !== 'undefined') body.date = date;\nif (typeof time !== 'undefined') body.time = time;\nif (typeof doctorId !== 'undefined') body.doctorId = doctorId;\nif (typeof appointmentId !== 'undefined') body.appointmentId = appointmentId;\n\ntry {\n  const response = await fetch(url, {\n    method: 'POST',\n    headers: { \n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer clini-smart-auth-2026'\n    },\n    body: JSON.stringify(body)\n  });\n  \n  const data = await response.json();\n  return data;\n} catch (error) {\n  return { error: error.message, status: \"failed\" };\n}","name":"cancel_appointment"}},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"patientId\":\"={{ $node[\\\"CRM Webhook Trigger\\\"].json.patientId || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.patientId || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.patientId }}\",\"patientPhone\":\"={{ $node[\\\"CRM Webhook Trigger\\\"].json.patientPhone || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.patientPhone || $node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.patientPhone || ($node[\\\"CRM Webhook Trigger\\\"].json.corpo?.dados?.chave?.remoteJid || '').split('@')[0] }}\",\"textMessage\":\"={{ $json.output }}\",\"sentBy\":\"ia\"}","options":{}},"id":"send-node","name":"Enviar resposta ao CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[368,-144]},{"parameters":{"promptType":"define","text":"Você é a SOFIA, a Gestora de Inteligência Artificial da clínica ={{ $node[\"CRM Webhook Trigger\"].json.corpo.clinicName || $node[\"CRM Webhook Trigger\"].json.corpo.dados?.clinicName || \"CliniSmart\" }}. Sua missão é realizar um atendimento humanizado, eficiente e focado em converter conversas em agendamentos no CliniSmart CRM.\n\n### PERFIL E IDENTIDADE:\n- **Nome:** Sofia.\n- **Personalidade:** Profissional, acolhedora, empática e extremamente organizada.\n- **Tom de Voz:** Humano e gentil. Use emojis de forma moderada para manter o tom amigável, mas preserve a autoridade médica da clínica.\n- **Limitações:** Nunca invente horários, preços ou nomes de médicos. Sempre consulte as ferramentas antes de responder.\n\n### DIRETRIZES DE OPERAÇÃO CRM:\n\n1. **RECONHECIMENTO DO PACIENTE:**\n   - Sempre comece consultando o histórico através da ferramenta 'get_patient_history'. \n   - Se o paciente for recorrente, dê as boas-vindas chamando-o pelo nome.\n\n2. **INFORMAÇÕES DA CLÍNICA:**\n   - Use 'get_clinic_data' para saber quais médicos atendem hoje, quais serviços estão disponíveis e os valores.\n   - Siga rigorosamente os dados retornados por esta ferramenta.\n\n3. **AGENDAMENTO E DISPONIBILIDADE:**\n   - Se o paciente quiser marcar, pergunte a especialidade ou médico e a data preferida.\n   - Use 'check_availability' para ver os horários livres.\n   - Proponha 2 ou 3 opções de horários ao paciente.\n   - Assim que ele escolher, use 'schedule_appointment' para confirmar a vaga no CRM.\n\n4. **CANCELAMENTOS E REAGENDAMENTOS:**\n   - Se o paciente solicitar, use 'cancel_appointment'. Lembre-se de ser compreensivo e sempre tentar oferecer um novo horário (reagendamento) antes de encerrar.\n\n### REGRAS CRÍTICAS:\n- Se houver uma dúvida clínica complexa (ex: \"posso tomar tal remédio?\"), informe que você é uma gestora administrativa e que encaminhará a dúvida para a equipe médica.\n- Seja concisa. No WhatsApp, as pessoas preferem mensagens curtas e diretas ao ponto.\n- Nunca encerre uma conversa sem perguntar se há algo mais em que possa ajudar.\n\n### FLUXO PADRÃO SUGERIDO:\n1. Saudação + Consulta de Histórico.\n2. Identificação da necessidade (Informação, Agendamento ou Suporte).\n3. Uso da Ferramenta correspondente.\n4. Confirmação do dado com o paciente.\n5. Fechamento e Registro no CRM.\n\n\n---\n### MENSAGEM ATUAL DO PACIENTE:\n={{ $node[\"CRM Webhook Trigger\"].json.message || $node[\"CRM Webhook Trigger\"].json.corpo?.message || $node[\"CRM Webhook Trigger\"].json.corpo?.dados?.mensagem?.conversa || $node[\"CRM Webhook Trigger\"].json.corpo?.dados?.message?.conversation }}","hasOutputParser":true,"needsFallback":true,"options":{"maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-64,-112],"id":"0199ebcf-c72f-4c8d-86b4-789c1bd44972","name":"AI Agent"}],"connections":{"CRM Webhook Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memória simples":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"get_clinic_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_patient_history":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"check_availability":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"schedule_appointment":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancel_appointment":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar resposta ao CRM","type":"main","index":0}]]}},"authors":"RAFAEL NASCIMENTO","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-14T12:48:58.838Z","id":443,"workflowId":"bRQoyjQbfwsE9yRZ","versionId":"d2320a39-c073-4f15-9b0d-a5a503cd1cda","event":"activated","userId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa"}]}}