scratch/workflow_debug.json
{"updatedAt":"2026-04-11T03:24:09.034Z","createdAt":"2026-04-10T14:02:15.152Z","id":"bRQoyjQbfwsE9yRZ","name":"Sofia - Gestora de CRM v3 (PRODUÇÃO)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"crm-manager-agent-v1","options":{}},"id":"webhook-trigger","name":"CRM Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[380,400]},{"parameters":{"options":{"systemMessage":"={{ $json[\"masterPrompt\"] }}"}},"id":"agent-sofia","name":"Agente Gerente Sofia","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[700,400]},{"parameters":{"modelName":"gpt-4o","options":{"temperature":0}},"id":"openai-model","name":"Modelo OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[600,600],"credentials":{"openAiApi":{"id":"VXfPUQYU0OWKOwSR","name":"OpenAi account"}}},{"parameters":{"sessionId":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}","contextWindowLength":10},"id":"memory-node","name":"Memória simples","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[750,600]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/get-clinic-data","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"}]}},"id":"tool-data","name":"obter_dados_clínicos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,100]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/get-patient-history","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"patientPhone","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"}]}},"id":"tool-hist","name":"get_patient_history","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,200]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/check-availability","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"date","value":"={{ $json.date }}"}]}},"id":"tool-avail","name":"check_availability","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,300]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/schedule","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"patientPhone","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"},{"name":"date","value":"={{ $json.date }}"},{"name":"serviceId","value":"={{ $json.serviceId }}"}]}},"id":"tool-sched","name":"agendar_consulta","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,400]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/cancel-appointment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"appointmentId","value":"={{ $json.appointmentId }}"}]}},"id":"tool-cancel","name":"cancelar_consulta","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,500]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"instance","value":"={{ $node[\"CRM Webhook Trigger\"].json.instance }}"}]}},"id":"send-node","name":"Enviar resposta ao CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,400]}],"connections":{"CRM Webhook Trigger":{"main":[[{"node":"Agente Gerente Sofia","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"Agente Gerente Sofia","type":"ai_languageModel","index":0}]]},"Memória simples":{"ai_memory":[[{"node":"Agente Gerente Sofia","type":"ai_memory","index":0}]]},"obter_dados_clínicos":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"get_patient_history":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"check_availability":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"agendar_consulta":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"cancelar_consulta":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"Agente Gerente Sofia":{"main":[[{"node":"Enviar resposta ao CRM","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4b54946-ff4f-458b-994d-b10db40c92a0","activeVersionId":"c4b54946-ff4f-458b-994d-b10db40c92a0","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-04-10T14:02:15.152Z","createdAt":"2026-04-10T14:02:15.152Z","role":"workflow:owner","workflowId":"bRQoyjQbfwsE9yRZ","projectId":"FeneupEm9GWoJOsO","project":{"updatedAt":"2026-01-13T15:06:05.729Z","createdAt":"2026-01-13T15:04:20.213Z","id":"FeneupEm9GWoJOsO","name":"RAFAEL NASCIMENTO <r4fael1988@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","projectRelations":[{"updatedAt":"2026-01-13T15:04:20.213Z","createdAt":"2026-01-13T15:04:20.213Z","userId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","projectId":"FeneupEm9GWoJOsO","user":{"updatedAt":"2026-04-10T12:39:22.390Z","createdAt":"2026-01-13T15:04:19.489Z","id":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa","email":"r4fael1988@gmail.com","firstName":"RAFAEL","lastName":"NASCIMENTO","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-13T15:04:37.889Z","personalization_survey_n8n_version":"1.113.3","companyType":"saas"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"w3VX5_95WJP_xc3_JUK64","userActivatedAt":1768405688819,"npsSurvey":{"responded":true,"lastShownAt":1770220250292},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-10","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-11T03:24:09.037Z","createdAt":"2026-04-11T03:24:09.037Z","versionId":"c4b54946-ff4f-458b-994d-b10db40c92a0","workflowId":"bRQoyjQbfwsE9yRZ","nodes":[{"parameters":{"httpMethod":"POST","path":"crm-manager-agent-v1","options":{}},"id":"webhook-trigger","name":"CRM Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[380,400]},{"parameters":{"options":{"systemMessage":"={{ $json[\"masterPrompt\"] }}"}},"id":"agent-sofia","name":"Agente Gerente Sofia","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[700,400]},{"parameters":{"modelName":"gpt-4o","options":{"temperature":0}},"id":"openai-model","name":"Modelo OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[600,600],"credentials":{"openAiApi":{"id":"VXfPUQYU0OWKOwSR","name":"OpenAi account"}}},{"parameters":{"sessionId":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}","contextWindowLength":10},"id":"memory-node","name":"Memória simples","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[750,600]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/get-clinic-data","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"}]}},"id":"tool-data","name":"obter_dados_clínicos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,100]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/get-patient-history","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"patientPhone","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"}]}},"id":"tool-hist","name":"get_patient_history","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,200]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/check-availability","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"date","value":"={{ $json.date }}"}]}},"id":"tool-avail","name":"check_availability","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,300]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/schedule","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"patientPhone","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"},{"name":"date","value":"={{ $json.date }}"},{"name":"serviceId","value":"={{ $json.serviceId }}"}]}},"id":"tool-sched","name":"agendar_consulta","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,400]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/tools/cancel-appointment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"clinicId","value":"={{ $node[\"CRM Webhook Trigger\"].json.clinicId }}"},{"name":"appointmentId","value":"={{ $json.appointmentId }}"}]}},"id":"tool-cancel","name":"cancelar_consulta","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[950,500]},{"parameters":{"method":"POST","url":"https://clini-smart.vercel.app/api/whatsapp/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer clini-smart-auth-2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $node[\"CRM Webhook Trigger\"].json.patientPhone }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"instance","value":"={{ $node[\"CRM Webhook Trigger\"].json.instance }}"}]}},"id":"send-node","name":"Enviar resposta ao CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,400]}],"connections":{"CRM Webhook Trigger":{"main":[[{"node":"Agente Gerente Sofia","type":"main","index":0}]]},"Modelo OpenAI":{"ai_languageModel":[[{"node":"Agente Gerente Sofia","type":"ai_languageModel","index":0}]]},"Memória simples":{"ai_memory":[[{"node":"Agente Gerente Sofia","type":"ai_memory","index":0}]]},"obter_dados_clínicos":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"get_patient_history":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"check_availability":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"agendar_consulta":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"cancelar_consulta":{"ai_tool":[[{"node":"Agente Gerente Sofia","type":"ai_tool","index":0}]]},"Agente Gerente Sofia":{"main":[[{"node":"Enviar resposta ao CRM","type":"main","index":0}]]}},"authors":"RAFAEL NASCIMENTO","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-11T03:24:09.990Z","id":404,"workflowId":"bRQoyjQbfwsE9yRZ","versionId":"c4b54946-ff4f-458b-994d-b10db40c92a0","event":"activated","userId":"6fdf8688-0434-42f5-a87c-2a2f1b2ac8fa"}]}}